div.secondary-side-bar
    a(href='/direct-messages/friends') Friends
    each dm in recent_dms
        a(href=dm.url)  

            each dmUser in dm.users
                if(dmUser.username !=  user.username)
                    span @#{dmUser.username}