div.secondary-side-bar
    a(href='/direct-messages/friends') Friends
    div This is the DM side bar
    //- for friend in user.friends
        //- a(href=`/direct-message/${direct.message}`) #{channel.name}
        //- br
        //- div friend