extends layout

block content 
    include dm-side-bar
    include friends-nav-bar
    
    br

    each friend in friends_list
        div #{friend.username}
        //- form(method="post" action="/accept-friend-req")
        //-     div #{friend.username}
        //-     input(type="text" value=friend._id hidden= true)
        //-     button(type="submit" name="accept") Accept
        //-     button(type="submit" name="decline") Decline

    else 
        div You have no friends!
