extends layout

block content 
    include dm-side-bar

    form(method="post" action="")
        label(for="username") Username
        input(type="text" name="username")
        label(for="userID") User ID
        input(type="text" name="userID")
        button(type="submit") Submit 