doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
  body
    div.container
      nav.navbar 
        //- add friends DM list
        //- add channels

        if (!user)
          nav.secondary-bar
        
        a(href="/create-server") Create Server
        //- p.username-layout User: #{user.username} 
      
      //- include secondary-side-bar


      block content
