doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
  body
    div.container
      nav.navbar 
        //- add friends DM list
        //- add channels

        
        a(href="/create-server")
        if (user)
          p.username-layout User: #{user.firstName} #{user.lastName} 
      block content
