doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
  body
    div.container
      nav.navbar 
        //- add friends DM list

        each server in user.serverLayout
          a(href=server.url) #{server.name}
          br


        if (!user)
          nav.secondary-bar
        
        a(href="/create-server") Create Server
        p.username-layout User: #{user.username} 
        a(href="/log-out") Log out 
      
      block content
