/* Define standard variables and values for website */
$bgcolor: lightblue;
$textcolor: darkblue;
$fontsize: 18px;
$subtextsize: $fontsize - 10px;
$standardpadding: 3px;

/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}

.container {
  display: flex;

  nav.navbar {
    padding: $standardpadding
  } 
  
  .secondary-side-bar {
    padding: $standardpadding
  }
  
  .channel-content {
    padding: $standardpadding;
    
    .message {
      padding: $standardpadding
      
    }
  }
}
